$color: #8fa45b;
$sub-color: #c5d0aa;
$light-hover-color: #a1b375;
$dark-hover-color: #4b552f;

$background-color: #fbfbf8;
$background-hover-color: #d7dec4;

$border-color: #62703e;

$form-border-color: #e6e6e6;
$form-color: #e6e6e6;

$danger-color: #a32727;